* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header-main {
	background-color: #ff6900;
	padding: 20px 0;
    
    justify-content: space-between;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 450px;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu a {
    text-decoration: none;
	color: white;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.logo-b {
    max-height: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.row {
	display: flex;
    justify-content: center;
    
	padding: 30px;
    max-width: 1100px;

    gap: 20px;
    flex-wrap: wrap;
}

.main [class^='card'] {
	min-height: 450px;
    min-width: 300px;
}

.card {
    margin-bottom: 30px;
    position: relative;
}

.brand {
    font-family: sans-serif;
    font-size: 13px;
}

.item-name {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.price {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.discount {
    background-color: red;
    padding: 5px 10px;
    position: absolute;
    top: 380px;

    color: white;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.sosten {
    background-color: green;
    padding: 5px 10px;
    position: absolute;
    top: 380px;

    color: white;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.card img {
    max-width: 300px;
}

.footer-main {
	background-color: #1a1a1a;
	padding: 20px 0;
}

/**************** 
DEBUG RULES
****************/



.debug .container {
	padding: 20px;
	border: 4px dashed tomato;
}

.debug .row {
	border: 4px dotted cornflowerblue;
}

.debug .card {
	/*border: 3px solid black;*/
    
    min-height: 450px;
    min-width: 300px;
}
