* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.row {
	display: flex;
    justify-content: center;
    
	padding: 30px;
    margin: 0 450px;

    gap: 20px;
    flex-wrap: wrap;
}

.main [class^='card'] {
	min-height: 450px;
    min-width: 300px;
}

.card {
    margin-bottom: 30px;
}

.brand {
    font-family: sans-serif;
    font-size: 13px;
}

.item-name {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.price {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.card img {
	min-height: 450px;
    max-width: 300px;
}



/**************** 
DEBUG RULES
****************/

.debug .header-main {
	background-color: #add8e6;
	padding: 20px 0;
    
}

.debug .container {
	padding: 20px;
	border: 4px dashed tomato;
}

.debug .row {
	border: 4px dotted cornflowerblue;
}

.debug .card {
	/*border: 3px solid black;*/
    
    min-height: 450px;
    min-width: 300px;
}

.debug .footer-main {
	background-color: grey;
	padding: 20px 0;
}
