* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.row {
	display: flex;
    justify-content: center;
}





/**************** 
DEBUG RULES
****************/

.debug .header-main {
	background-color: #add8e6;
	padding: 30px 0;
    
}

.debug .container,
.debug .container-small {
	padding: 20px;
	border: 4px dashed tomato;
}

.debug .row {
	border: 4px dotted cornflowerblue;
	padding: 30px;
    
    margin: 0 450px;

    gap: 20px;
    flex-wrap: wrap;
}

.debug [class^='card'] {
	border: 3px solid black;
	padding: 5px 15px;
}

.debug main [class^='card'] {
	min-height: 450px;
    min-width: 300px;
}

.debug .footer-main {
	background-color: grey;
	padding: 30px 0;
}
